@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	--padding: 2%;
	font-family: 'Montserrat';
	font-style: normal;
}

* img {
	display: block;
	max-width: 100%;
	object-fit: cover;
	border-radius: 10px;
}

* span {
	color: #4F4F4F;
}

body {
	background-color: #F2F2F2;
	margin: auto;
	max-width: 1300px;
	padding: var(--padding);
}

footer {
	display: flex;
	justify-content: center;
	vertical-align: center;
	padding: 2% 0 0 0;
}

footer a, footer p {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #BDBDBD;
}

.card {
	background: #FFFFFF;
	border-radius: 12px;
	padding: 15px;
	max-width: 100%;
}

.content {
	display: flex;
	justify-content: space-between;
	row-gap: 12px;
}

.left, .right {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.left { width: 36%; }

.right { width: 63%; }

.contact {
	display: flex;
	gap: 10px;
	padding: 2% 0 2% 0;
	vertical-align: center;
}

.contact a {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #4F4F4F;
	text-decoration: none;
}

.profil p {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #828282;
	padding: 4% 0 4% 0;
}

.profil h1 {
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #4F4F4F;
	padding: 2% 0 1% 0;
}

.profil h2 {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #828282;
	padding: 2% 0 4% 0;
}

.profil img {
	margin-bottom: 2%;
}

.project {
	display: flex;
	justify-content: space-between;
}

.project img {
	display: block;
	max-width: 33%;
	max-height: auto;
	object-fit: contain;
}

.content-project {
	width: 63%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.tag {
	display: flex;
	gap: 10px;
}

.tag p::before {
	content: "#";
}

.tag p {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #4F4F4F;
}

.content-project h2 {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #333333;
}

.content-project p {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #828282;
}

.btn-project {
	display: flex;
	gap: 10px;
}

.btn-project a {
	width: 136.27px;
	height: 46px;
	display: block;
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
	line-height: 46px;
	border-radius: 12px;
	text-align: center;
}

a.demo {
	background: #2F80ED;
	color: #FFFFFF;
}

a.code {
	border: 1px solid #2F80ED;
	color: #2F80ED;
}

.content-project {
	row-gap: 15px;
}

.title {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #4F4F4F;
	padding: calc(var(--padding) + 9px) var(--padding) calc(var(--padding) + 9px) var(--padding);
}

.demi {
	display: flex;
	justify-content: space-between;
	gap: 15px;
	margin-bottom: 15px;
	align-items: flex-start;
}

.demi .card {
	width: 50%;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.demi .card h2 {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #4F4F4F;
	padding-bottom: 10px;
}

.competance {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #4F4F4F;
	display: flex;
	justify-content: space-between;
}

.competance progress {
	max-width: 70%;
	width: 70%;
}

.certifications {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.certifications h2 {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #4F4F4F;
	margin-bottom: 15px;
}

.certifications a {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #828282;
	text-decoration: none;
	padding: 0 calc(var(--padding) * 2) 0 calc(var(--padding) * 2);
}

.btn {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	border: 1px solid #4F4F4F;
	border-radius: 12px;
	padding: 1% 2% 1% 2%;
	color: #4F4F4F;
	cursor: pointer;
}

.search {
	display: flex;
	gap: 15px;
	padding-top: 15px;
}

.active {
	background: #2F80ED;
	border: 1px solid #2F80ED;
	border-radius: 12px;
	color: #FFFFFF;
}
